<!DOCTYPE html>
<html ng-app>
    <head>
        <title>DeathRay</title>
        <style>
            .menu-disabled-true {
                color: gray;
            }
        </style>
    </head>
    <body>
        <div ng-controller='DeathrayMenuController'>
            <button ng-click='toggleMenu()'>Toggle Menu</button>
            <ul>
                <li class='menu-disabled-{{isDisabled}}' ng-click='stun()'>Stun</li>
                <li ng-click='disintegrate()'>Disintegrate</li>
                <li ng-click='erase()'>Erase from history</li>
            </ul>
        </div>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular.min.js"></script>
        <script>
            function DeathrayMenuController($scope) {
                $scope.isDisabled = false;

                $scope.toggleMenu = function() {
                    $scope.menuState.show = !$scope.menuState.show;
                };

                $scope.stun = function() {
                    // stun the target, then disable menu to allow regeneration
                    alert('Stunned!');
                    $scope.isDisabled = 'true';
                };

                $scope.disintegrate = function() {
                    alert('Oops! You\'re gone!');
                };

                $scope.erase = function() {
                    alert('You never existed.');
                };
            }
        </script>
    </body>
</html>
